@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Masque la scrollbar par défaut mais permet le défilement */
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #334155; /* slate-700 */
    border-radius: 9999px;
  }
}